<!--components/layouts/layouts.wxml-->

<view class="main-container">

  <view class="layout-content layout__laoding" wx:if="{{loading}}">
    <image style="width: 60rpx; height: 60rpx; transform: translateY(30%); margin-right: 10rpx;" src="/assets/loading.gif"></image>内容正在加载中，请耐心等待
  </view>
  
  <view wx:elif="{{displayAuthorizeButton}}" class="user-info-authorize">
    <view class="authorize-login-image">
      <image src="/assets/login.png" />
    </view>
    <view class="authorize-login-text">需要关联您的手机以便后续通知</view>
    <view class="get-userinfo-dialog">
      <button type='default' class="userInfoButton"   open-type="getPhoneNumber" bindgetphonenumber="handleGetPhoneNumber"><image style="color: #fff;width: 60rpx; height: 60rpx; transform: translateY(20%); margin-right: 10rpx;" src="/assets/shield.svg"></image>微信手机号快捷登录</button>
    </view>
  </view>
  <view class="layout-content" wx:else>
    <slot></slot>
  </view>
</view>
